# Exclude node_modules (usually installed dependencies)
node_modules

# Exclude build artifacts and temporary files
/dist
/.DS_Store
*.log
npm-debug.log*

# Exclude version control files
.git
.gitignore

# Exclude development-specific files and directories
*.md
*.yml
# *.json
# *.lock

# Exclude IDE or editor-specific files
.idea
.vscode

# Exclude any other files or directories you don't want in the image
